.button {
  padding: 0;
  display: block;
  background-color: @leaf;
  width: 280px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  line-height: 18px;
  color: @white;
  font-weight: 400;
  padding-top: 14px;
  padding-bottom: 11px;
}
