.button {
  display: block;
  box-sizing: border-box;
  background-color: @leaf;
  width: 280px;
  padding: 0;
  margin: 0;
  font-family: @font-oswald;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: @white;
  font-weight: 400;
  padding-top: 14px;
  padding-bottom: 11px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.button:hover {
  background-color: #5eaa2f;
}

.button:active {
  color: #99c684;
}
