.catalog {
  width: @phone-width;
  box-sizing: border-box;
}

.catalog-line {
  margin: 0;
  margin-top: 31px;
  margin-bottom: 35px;
}

@media (min-width: @tablet-width) {
  .catalog-line {
    margin-top: 65px;
    margin-bottom: 74px;
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-line {
    margin-top: 83px;
  }
}
