.catalog {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.catalog-line {
  margin-top: 31px;
  font-weight: 400;
}

@media (min-width: @tablet-width) {
  .catalog-line {
    margin-top: 65px;
    margin-bottom: 74px;
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-line {
    margin-top: 83px;
  }
}
