.collaborate__box {
  //width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: @white;
}

.collaborate__container {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}

.collaborate__advert {
  margin: 0;
  width: 123px;
}

.collaborate__address {
  width: 135px;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.collaborate__map {
  width: 100%;
  border: none;
  background-color: @leaf;
  min-height: 350px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .collaborate__box {
    //width: @tablet-width;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: @desktop-width) {
  .collaborate {
    width: 100%;
  }

  .collaborate__box {
    position: relative;
    width: @desktop-width;
    margin: 0 auto;
  }

  .collaborate__container {
    position: absolute;
    box-sizing: border-box;
    width: 570px;
    min-height: 201px;
    align-items: center;
    top: 100px;
    left: 40px;
    background-color: @white;
  }

  .collaborate__advert {
    line-height: 25px;
  }

  .collaborate__position {
    position: relative;
  }

  .collaborate__map {
    min-height: 410px;
  }
}
