.collaborate {
  background-color: @gray;
  box-sizing: border-box;
}

.collaborate__container {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-between;
}

.collaborate__advert {
  margin: 0;
  width: 123px;
}

.collaborate__address {
  width: 135px;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.collaborate__map {
  width: 100%;
  border: none;
  background-color: rgba(246, 166, 68, 0.38);
  min-height: 350px;
  margin: 0;
}

.collaborate--main {
  background-color: @white;
}
