.collaborate__box {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: @white;
}

.collaborate__container {
  display: flex;
  padding-top: 27px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}

.collaborate__advert {
  margin: 0;
  margin-top: -3px;
  width: 123px;
  font-size: 21px;
  line-height: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.collaborate__invite {
  width: 40px;
}

.collaborate--background {
  background-color: @graylight;
}

.collaborate__address {
  width: 135px;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.collaborate__advert,
.collaborate__address {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.collaborate__map {
  width: 100%;
  border: none;
  background-color: #fdf7ef;
  min-height: 360px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .collaborate__box {
    padding-left: 40px;
    padding-right: 40px;
  }

  .collaborate__container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .collaborate__advert {
    font-size: 20px;
    margin-top: 3px;
  }

  .collaborate__address {
    width: 161px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .collaborate__street {
    display: block;
    margin-bottom: 10px;
  }
}

@media (min-width: @desktop-width) {
  .collaborate {
    width: 100%;
  }

  .collaborate__box {
    position: relative;
    width: @desktop-width;
    margin: 0 auto;
  }

  .collaborate__container {
    position: absolute;
    box-sizing: border-box;
    width: 570px;
    min-height: 201px;
    align-items: center;
    top: 100px;
    left: 40px;
    background-color: @white;
  }

  .collaborate__advert {
    line-height: 25px;
  }

  .collaborate__address {
    text-align: left;
  }

  .collaborate__position {
    position: relative;
  }

  .collaborate__map {
    min-height: 410px;
  }
}
