.container {
  width: @phone-container;
  box-sizing: border-box;
  margin: 0 auto;
  //outline: 1px solid @black;
}

@media (min-width: @tablet-width) {
  .container {
    width: @table-container;
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: @desktop-content;
  }
}
