.copyright {
  display: flex;
  text-decoration: none;
  color: @black;
  justify-content: center;
}

.copyright__logo {
  display: block;
}

.copyright__name {
  width: 132px;
  font-family: "Arial", sans-serif;
  margin-top: 10px;
  font-size: 16px;
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .copyright {
    justify-content: flex-end;
  }

  .copyright__name {
    width: 117px;
    font-size: 16px;
    line-height: 16px;
    margin-top: 10px;
    margin-left: -1px;
    margin-right: 20px;
  }

  .copyright__logo {
    width: 27px;
    flex-shrink: 0;
  }
}
