.denotation {
  display: flex;
}

.denotation__item {
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .denotation__item {
    font-size: 20px;
    line-height: 20px;
  }
}
