.example {
  background-color: @gray;
}

.example__heading {
  padding-top: 20px;
}

.example__info {
  width: 123px;
  font-weight: 400;
  border: 1px solid @black;
  text-transform: uppercase;
}

.example__note {
  font-size: 12px;
}

.example__info-container {
  display: flex;
}

.example__explanation {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.example__denotation-container {
  display: flex;
  padding-left: 44px;
  justify-content: space-between;
  width: 200px;
}
