.example {
  width: @phone-width;
  background-color: @gray;
  margin: 0 auto;
}

.example__heading {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 30px;
  padding-bottom: 30px;
  outline: 1px solid greenyellow;
}

.example__info {
  width: 123px;
  font-weight: 400;
  border: 1px solid @black;
  text-transform: uppercase;
}

.example__note {
  font-size: 12px;
}

.example__info-container {
  display: flex;
}

.example__explanation {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.example__denotation-container {
  display: flex;
  padding-left: 44px;
  justify-content: space-between;
  width: 200px;
}

@media (min-width: @tablet-width) {
  .example {
    width: @tablet-width;
    background-color: @white;
  }
}

@media (min-width: @desktop-width) {
  .example {
    width: 100%;
    background-color: @gray;
  }

  .example__container {
    background-color: @white;
    outline: 1px solid red;
  }

  .example__heading {
    width: @desktop-width;
    margin: 0 auto;
  }
}
