.example {
  background-color: @graylight;
}

.example__box {
  margin-bottom: 36px;
}

.example__heading {
  box-sizing: border-box;
  padding: 0 20px;
  padding-top: 24px;
  padding-bottom: 33px;
}

.example__paragraph {
  width: 279px;
  margin-bottom: 0;
}

.example__img {
  margin-bottom: 32px;
}

.example__info-container {
  display: flex;
  justify-content: space-between;
}

.example__info {
  position: relative;
  width: 123px;
  font-weight: 400;
  border: 1px solid @gray;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  padding-top: 13px;
  padding-bottom: 17px;
  text-align: center;
}

.example__note {
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 88px;
  content: "";
  top: 47px;
  left: 17px;
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
  text-transform: none;
  background-color: @graylight;
  text-align: center;
  padding: 0 20px;
}

.example__before-after {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__explanation {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 14px;
  margin-bottom: 20px;
}

.example__denotation-container {
  display: flex;
  padding-left: 44px;
  justify-content: space-between;
  width: 200px;
}

@media (min-width: @tablet-width) {
  .example {
    background-color: @white;
  }

  .example__heading {
    width: @tablet-width;
    font-size: 60px;
    padding-left: 27px;
    padding-right: 40px;
    margin: 0 auto;
  }

  .example__box {
    margin: 0 auto;
  }

  .example__paragraph {
    width: 680px;
    font-size: 16px;
    margin-bottom: 58px;
  }

  .example__case {
    justify-content: space-between;
    margin-bottom: 257px;
  }

  .example__info-container {
    width: 367px;
  }

  .example__info {
    width: 162px;
    font-size: 30px;
    padding-top: 25px;
    padding-bottom: 16px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .example__info:nth-child(1) .example__note {
    width: 116px;
    left: 24px;
  }

  .example__info:nth-child(2) .example__note {
    width: 144px;
    left: 9px;
  }

  .example__note {
    font-size: 14px;
    background-color: @white;
    top: 70px;
    padding: 0 8px;
  }

  .example__explanation {
    width: 174px;
    font-size: 20px;
    text-align: right;
  }

  .example__container--heading {
    background-color: @white;
  }

  .example__case,
  .example__info-container {
    display: flex;
  }

  .example__container--before {
    background-color: @graylight;
  }

  .example__before-after {
    box-sizing: border-box;
    margin: 0 auto;
    min-height: 462px;
  }

  .example__picture {
    width: 100%;
  }

  .example__img {
    width: 674px;
    margin-top: -184px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    width: 100%;
    background-color: @graylight;
  }

  .example__container--before {
    background-color: @graylight;
  }

  .example__heading {
    width: @desktop-width;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 75px;
    padding-top: 0;
  }

  .example__explanation {
    text-align: left;
  }
}
