.extra {
  display: flex;
  background-color: rgba(255,255,0,0.3);
}

.extra__title {
  font-weight: 400;
}

.extra__button {
  margin-bottom: 20px;
}

@media (min-width: @desktop-width) {
  .extra {
    padding-bottom: 85px;
    margin-right: 40px;
    justify-content: space-between;
  }

  .extra__container {
    width: 895px;
  }
}
