.footer {
  background-color: @graylight;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__link {
  display: block;
  width: 128px;
  padding-left: 76px;
  margin-top: 42px;
  margin-bottom: 29px;
}

.footer__box {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #cfcfcf;
}

.footer__social {
  margin: 0 auto;
  margin-left: 72px;
  margin-top: 20px;
  margin-bottom: 17px;
}

.footer__copyright {
  width: 100%;
  padding-top: 21px;
  padding-bottom: 30px;
}

.footer__copyright:hover {
  fill: @leaf;
}

.footer__copyright:active {
  opacity: 0.5;
}


@media (min-width: @tablet-width) {
  .footer__box {
    width: initial;
    border-bottom: none;
  }

  .footer__link {
    display: inline-block;
    padding-left: 2px;
    margin-top: 27px;
    margin-bottom: 29px;
  }

  .footer__img {
    padding: 0;
  }

  .footer__copyright {
    width: 162px;
    padding: 0;
  }

  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 148px;
  }

  .footer__social {
    padding-bottom: 0;
    margin-left: 22px;
    margin-top: 14px;
  }
}

@media (min-width: @desktop-width) {
  .footer__social {
    margin-top: 21px;
    margin-left: 15px;
  }

  .social__fb svg {
    margin-top: -2px;
    margin-left: 4px;
  }
}
