.footer {
  background-color: @graylight;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__link {
  display: block;
  width: 128px;
  padding-left: 81px;
  margin-top: 41px;
  margin-bottom: 29px;
}

.footer__box {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #cfcfcf;
}

.footer__social {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer__copyright {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 8px;
}

@media (min-width: @tablet-width) {
  .footer__box {
    width: initial;
    border-bottom: none;
  }

  .footer__link {
    display: inline-block;
    padding-left: 0;
  }

  .footer__img {
    padding: 0;
  }

  .footer__copyright {
    width: 162px;
    padding: 0;
  }

  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 148px;
  }

  .footer__social {
    padding-bottom: 0;
  }
}
