.header {
  max-width: @desktop-width;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid @gray;
}

.header__wrapper {
  display: flex;
  width: 280px;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
  justify-content: space-between;
  flex-direction: row;
}

.header__img {
  margin: 0;
  margin-top: 12px;
  margin-bottom: 14px;
}

.header__picture {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.header__link {
  font-family: @font-oswald;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: @black;
}

@media (min-width: @tablet-width) {
  .header {
    width: @table-container;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    border-bottom: none;
    align-items: flex-start;
    padding-top: 14px;
    margin-bottom: 23px;
  }

  .header__picture {
    height: 58px;
    margin-top: 0;
    margin-bottom: 0;
    align-items: flex-start;
  }

  .header__wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .header__toggle {
    display: none;
  }

  .header__img {
    width: 173px;
  }
}

@media (min-width: @desktop-width) {
  .header {
    width: @desktop-content;
    box-sizing: border-box;
    min-height: 142px;
    margin: 0 auto;
    padding: 0;
  }

  .header__img {
    width: 202px;
    display: block;
  }

  .header__picture {
    margin-top: -87px;
    margin-bottom: 20px;
  }

  .header__link--hover:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  .header__link--hover:active {
    opacity: 0.5;
  }

  .header--margin {
    margin-bottom: -150px;
  }
}
