.header {
  max-width: @desktop-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__img {
  margin: 0;
  margin-top: 11px;
  margin-bottom: 19px;
}

.header__link {
  font-family: @font-oswald;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 16px;
  font-weight: 400;
  color: @black;
}

@media (min-width: @tablet-width) {
  .header__img {
    content: url("../img/logo-tablet.svg");
    width: 174px;
    height: 59px;
  }
}

@media (min-width: @desktop-width) {
  .header {
    height: 142px;
    margin-bottom: -150px;
  }

  .header__img {
    content: url("../img/logo-desktop.svg");
    width: 203px;
    height: 60px;
  }
}
