.navigation {
  display: none;
  width: 100%;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .navigation {
    width: 482px;
    display: block;
    margin-top: 5px;
  }

  .navigation__wrapper {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
