.order-else {
  display: none;
  margin: 0;
}

@media (min-width: @desktop-width) {
  .order-else {
    display: flex;
    position: relative;
    width: 280px;
    box-sizing: border-box;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    background: @leaf;
    background-image: url("../img/gift-photo-mobile@1x.jpg");
    background-repeat: no-repeat;
    padding-top: 190px;
    font-family: "Arial", sans-serif;
    color: @white;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}

.order-else::after {
  position: absolute;
  width: 56px;
  height: 61px;
  content: "";
  background-color: @leaf;
  background-image: url("../img/icon-gift.svg");
  top: 65px;
  left: 110px;
  background-repeat: no-repeat;
}

