.promo {
  display: flex;
  width: @phone-width;
  flex-direction: column;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  align-items: center;
}

.promo__title {
  margin: 0;
  width: 270px;
  line-height: 36px;
  padding-top: 29px;
  margin-bottom: 19px;
  text-align: center;
  color: @white;
}

.promo__motto {
  width: 210px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 29px;
  margin-bottom: 197px;
  text-align: center;
  text-transform: uppercase;
  color: @white;
}

.promo__button {
  margin-bottom: 0;
}

.promo__img {
  margin-top: -170px;
}
