.series {
  width: @phone-width;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.series__item {
  position: relative;
  box-sizing: border-box;
  width: 280px;
  background-color: @gray;
  padding: 0 20px;
  margin: 0 20px;
  margin-bottom: 20px;
}

.series__title {
  margin: 0;
  width: 137px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 70px;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 37px;
  color: @black;
}

.series__link {
  display: block;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 16px;
  color: @black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.series__paragraph {
  margin: 0;
  margin-bottom: 20px;
}

.series__title::before {
  display: block;
  content: "";
  position: absolute;
  background-color: @leaf;
  width: 50px;
  height: 50px;
  top: 32px;
  left: 20px;
  border-radius: 50%;
}

@media (min-width: @tablet-width) {
  .series__item {
    width: 708px;
    padding-left: 52px;
  }

  .series__title::before {
    width: 200px;
    height: 200px;
    left: 450px;
  }

  .series__title {
    padding-top: 82px;
    padding-left: 0;
    padding-bottom: 75px;
  }

  .series__link {
    margin-bottom: 63px;
  }
}

@media (min-width: @desktop-width) {
  .series__item {
    width: 570px;
  }

  .series__title::before {
    width: 100px;
    height: 100px;
    font-size: 36px;
    line-height: 37px;
    left: 52px;
  }

  .series__title {
    padding-left: 216px;
  }
}
