.series {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin-bottom: 18px;
}

.series__item {
  position: relative;
  box-sizing: border-box;
  width: 280px;
  background-color: @graylight;
  padding: 0 20px;
  margin: 0 20px;
  margin-bottom: 20px;
}

.series__item:last-child {
  margin-bottom: 0;
}

.series__title {
  margin: 0;
  width: 137px;
  padding-top: 33px;
  padding-bottom: 30px;
  padding-left: 72px;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 37px;
  color: @black;
}

.series__link {
  position: relative;
  display: block;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 16px;
  color: @black;
  margin-bottom: 24px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.series__link::after {
  display: block;
  content: "";
  position: absolute;
  top: 3px;
  left: 97px;
  width: 24px;
  height: 11px;
  background-image: url("../img/icon-right-arrow-long.svg");
}

.series__link:hover.series__link::after {
  width: 33px;
  background-image: url("../img/icon-right-arrow-verylong.svg");
}

.series__link:active,
.series__link:active.series__link::after {
  opacity: 0.5;
}


.series__arrow {
  content: "";
  position: absolute;
  top: 3px;
  left: 119px;
}

.series__paragraph {
  margin: 0;
  margin-bottom: 19px;
  padding-bottom: 23px;
  border-bottom: 1px solid @gray;
}

.series__title::before {
  display: block;
  content: "";
  position: absolute;
  background-color: @leaf;
  width: 50px;
  height: 50px;
  top: 25px;
  left: 22px;
  border-radius: 50%;
}

.series__title::after {
  display: block;
  content: "";
  position: absolute;
}

.series__item:nth-child(1) .series__title::after {
  top: 23px;
  left: 31px;
  width: 35px;
  height: 49px;
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
}

.series__item:nth-child(2) .series__title::after {
  top: 34px;
  left: 14px;
  width: 67px;
  height: 28px;
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
}

.series__item:nth-child(2) .series__title {
  padding-top: 31px;
}

.series__item:nth-child(2) .series__title::before {
  top: 24px;
  left: 22px;
}

@media (min-width: @tablet-width) {
  .series__item {
    box-sizing: border-box;
    width: 708px;
    padding-left: 52px;
    margin-bottom: 51px;
  }

  .series__title::before {
    width: 200px;
    height: 200px;
    left: 450px;
  }

  .series__item:nth-child(2) .series__title::before {
    top: 24px;
    left: 450px;
  }

  .series__item:nth-child(1) .series__title::after {
    top: 18px;
    left: 480px;
    width: 140px;
    height: 194px;
  }

  .series__item:nth-child(2) .series__title::after {
    top: 66px;
    left: 417px;
    width: 268px;
    height: 112px;
  }

  .series__title {
    padding-top: 82px;
    padding-left: 0;
    padding-bottom: 25px;
  }

  .series__paragraph {
    border-bottom: none;
  }

  .series__link {
    font-size: 20px;
    margin-bottom: 63px;
  }
}

@media (min-width: @desktop-width) {
  .series {
    margin-bottom: 79px;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
  }

  .series__item {
    width: 570px;
    margin: 0;
  }

  .series__title {
    padding-left: 214px;
    padding-top: 82px;
    padding-bottom: 74px;
  }

  .series__title::before {
    width: 100px;
    height: 100px;
    font-size: 36px;
    line-height: 37px;
    left: 52px;
    top: 47px;
  }

  .series__item:nth-child(2) .series__title {
    padding-top: 82px;
  }

  .series__item:nth-child(2) .series__title::before {
    top: 46px;
    left: 52px;
  }

  .series__item:nth-child(1) .series__title::after {
    top: 46px;
    left: 73px;
    width: 70px;
    height: 97px;
  }

  .series__item:nth-child(2) .series__title::after {
    top: 70px;
    left: 30px;
    width: 134px;
    height: 56px;
  }


  .series__link {
    font-size: 20px;
    line-height: 20px;
  }

  .series__link::after {
    left: 128px;
  }

  .series__paragraph {
    width: 428px;
    margin-bottom: 32px;
  }

  .series__paragraph--last {
    width: 444px;
  }
}
