.total {
  position: relative;
  background-size: 300px 100px;
}

.total::before {
  display: block;
  content: "";
  background-color: @darkleaf;
  width: 100%;
  min-height: 306px;
}

@media (min-width: @tablet-width) {
  .total::before {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .total {
    background: linear-gradient(to left, @darkleaf 50%, transparent 50%);
  }
}
